html {
  height: 100%;
  width: 100%;
}

 *{
    box-sizing: border-box;
  }

  @media screen and (max-width: 980px) {
    header, footer{
      grid-column: span 1;
    }     

    body{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }

    .card, .category{
      grid-column: span 2;
    }

    .brand-socials{
      grid-template-columns: 1;
      grid-template-rows: auto;
    }

    .brand-twitter, .fb-page, .brand-pinterest {
      grid-column: span 4;
    }
  }

  body{
    display: fill;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    height: 100%
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, black, grey, black, grey)
  }
  
  nav{
    margin:auto;
    text-align: center;
    grid-column: span 2;
  }

   #homepage{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Gambetta", serif, Arial, Helvetica, san-serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
  }

#homepage:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

  header, footer{
    margin: 0%;
    grid-template-columns: 1fr 1fr 1fr;
/*     background-image: url("https://img.freepik.com/premium-vector/dark-abstract-background-with-lines_79145-403.jpg"); */
    background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  }

.header-heading{
  display: flex;
  justify-content : space-between;
}
footer {
/*   background-color: #ccc; */
  padding: 20px;
  color: white;
}

.footer-heading {
  display: flex;
  justify-content: space-between;
}

.left-heading {
  margin-right: 20px;
}

.right-heading {
  margin-left: 20px;
}

.footer-section {
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.left-paragraph {
  margin-right: 20px;
}

.right-paragraph {
  margin-left: 20px;
  
}
  button{
    border-radius: 4px;
    margin:auto;
  }

  main{
    margin: 30px 20px;
    grid-template-rows: 1fr 5fr;
    background-image: url("https://static.vecteezy.com/system/resources/previews/015/735/689/non_2x/white-and-gray-color-background-illustration-background-can-be-used-in-cover-design-book-design-poster-cd-cover-flyer-website-backgrounds-or-advertising-vector.jpg");
    border-radius: 12px;
  }

  .brand-page{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    text-decoration: none;
    align-content: center;
    justify-content: center;
  }

  .brand-heading{
    text-align: center;
  }

  .brand-category{
    font-size: 22px;
    font-weight:800;
    font-style: italic;
  }

  .brand-socials p{
    padding: 10px 0px;
    margin: 20px 700px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/015/735/689/non_2x/white-and-gray-color-background-illustration-background-can-be-used-in-cover-design-book-design-poster-cd-cover-flyer-website-backgrounds-or-advertising-vector.jpg");
    grid-column: span 3;
    text-align: center;
    font-size: 18px;
     font-family: inherit;
  }

.fb-page{
  border-radius: 8px;
}
  .brand-socials{
    margin: 30px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: none;
    border-radius: 12px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
  }

  .twitter-timeline{
    margin: 0px 5px;
  }

.category{
  border-color: black;
    border-width: 2px;
}

  li{
    font-size: 18px;
    list-style: none;
    padding: 1.5px;
  }

  #cards{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    border-width: 2px;
    border-color: red;
  }

  

  aside{
    overflow-y: scroll;
    background-color: lightgrey;
  }

  #siteInfo{
    font-size: 1.2rem;
    text-align: center;
    color:black;
  }

  .title{
    visibility: hidden;
    font-size: 20px;
    text-align: center;
  }

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);

.card {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 10px;
  margin-right: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  align-content: center;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.card *,
.card:before,
.card:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card:before,
.card:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
}

.card:before {
  width: 0;
  height: 1px;
}

.card:after {
  height: 0;
  width: 1px;
}

.card figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

#card1:hover{
  background-image: url("https://footwearnews.com/wp-content/uploads/2016/10/lionel-messi-adidas.jpg?w=700&h=437&crop=1&resize=700%2C437");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 27%;
}

#card2:hover{
  background-image: url("https://i.pinimg.com/564x/23/13/97/2313975b221fb25e5174ec6e601a9476.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  background-position: 100% 30%;

}

#card3:hover{
  background-image: url("https://assets.juksy.com/files/articles/81577/1920x640_100_r-5b7bab7549e56.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#card4:hover{
   background-image: url("https://cdn.shopify.com/s/files/1/0556/1841/articles/Screenshot_2022-10-21_at_14.27.25_1024x.png?v=1666362380");
/*   object-fit: fill;
  margin: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card:hover img,
.card.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0;
}

.card:hover:before,
.card.hover:before,
.card:hover:after,
.card.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.card:hover:before,
.card.hover:before {
  width: 40px;
}

.card:hover:after,
.card.hover:after {
  height: 40px;
}

  img {
  width: 400px;
  height: 300px;
  object-fit: fill;
  margin: auto;
  display: flex;
 }

input[type=text]{
  transition: width 0.15s ease-in-out;
}

.social-icons {
  text-align:right ;
  margin: 10px;
  color: white;
  transition: color 0.3s ease;

}

.social-icons a:hover i{
  color: black;
  
}

/*   .navButtons{
    font-family: Arial, Helvetica, san-serif;
  } */
  
  .center {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  
  }

  a{
    text-decoration: none;
  }

.animated-text {
  animation: fade-in 2s forwards;
  opacity: 0;
  color:black;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-text {
  animation-fill-mode:both;
}

.text{
  color:white;
}

body {
  background-color: #111;
}

.h1{
  font-style: italic;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
h4{
  font-size:26px
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Poppins", sans-serif;
}

button {
  background-color: PaleGoldenRod;
  border: none;
  color: #242424;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 20px;
}

.button:hover{
  cursor:pointer;
}
button{
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
/* 	display: block;
	margin: 20px auto; */
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
  display: inline-block;
  margin: 0 20px;
}

/* button {
	color: midnightblue;
	box-shadow: cadetblue;
} */

button:hover {
	color:  rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

#searchbar {
  text-align: left;
  margin: 20px 40px;
  border-radius: 5px;
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#search-list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
/*   visibility: hidden; */
}

#search-list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: 0px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-bottom: 2px;
}

#search-list li a:hover:not(.header) {
  background-color: #c7c7c7; /* Add a hover effect to all links, except for headers */
}

.category-list li a{
  text-decoration: none;
  margin-left: -10px;
}
/* .slider-container {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.slider-text {
  position: absolute;
  left: -100%; 
  top: 0;
  white-space: nowrap;
  animation: slide 15s linear infinite; */
}

/* @keyframes slide {
  from {
    left: -100%; 
  }
  to {
    left: 100%; 
  }
} */
body {
  font-family: 'Rubik', sans-serif;
}

/* .hover-list {
  cursor: pointer;
  font-size:0vmin;
  margin: auto;
  font-weight: 200;
  transition: font-weight 70ms ease-in-out;
  text-align:left;
} */

.category-list>li:hover {
  font-weight: 700;
}