html {
  height: 100%;
  width: 100%;
}

 *{
    box-sizing: border-box;
  }

  @media screen and (max-width: 980px) {
    header, footer{
      grid-column: span 1;
    }     

    body{
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: auto;
    }

    .card{
      grid-column: span 2;
    }
  }

  body{
    display: grid;
    background-color: #FFFFFF;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    height: 100%
    padding: 0;
    margin: 0;
  }
  
  nav{
    margin:auto;
    text-align: center;
    grid-column: span 2;
  }

  #homepage{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    color: white;
    text-decoration: none;
  }

  .navButtons{
    text-decoration: none;
  }

  header, footer{
    margin: 0%;
    grid-template-columns: 1fr 1fr;
    background-color: teal;
  }
footer {
  background-color: #ccc;
  padding: 20px;
}

.footer-heading {
  display: flex;
  justify-content: space-between;
}

.left-heading {
  margin-right: 20px;
}

.right-heading {
  margin-left: 20px;
}

.footer-section {
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.left-paragraph {
  margin-right: 20px;
}

.right-paragraph {
  margin-left: 20px;
  color: black;
}
  button{
    border-radius: 4px;
    margin:auto;
  }

  main{
    margin: 30px 20px;
    grid-template-rows: 1fr 5fr;
    background-image: url("https://wallpaper.dog/large/5486500.png");
    border-radius: 12px;
  }

  #cards{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  aside{
    overflow-y: scroll;
    background-color: lightgrey;
  }

  #siteInfo{
    font-size: 1.2rem;
    text-align: center;
    color:black;
  }

/*   .card { 
  margin-right: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  align-content: center;
  }

  .card:hover{
    background-color: none;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
  } */
.title{
   visibility: hidden;
 }

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.card {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 10px;
  margin-right: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  align-content: center;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.card *,
.card:before,
.card:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card:before,
.card:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
}

.card:before {
  width: 0;
  height: 1px;
}

.card:after {
  height: 0;
  width: 1px;
}

.card figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

#card1:hover{
  background-image: url("https://footwearnews.com/wp-content/uploads/2016/10/lionel-messi-adidas.jpg?w=700&h=437&crop=1&resize=700%2C437");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 27%;
}

#card2:hover{
  background-image: url("https://i.pinimg.com/564x/23/13/97/2313975b221fb25e5174ec6e601a9476.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  background-position: 100% 30%;

}

#card3:hover{
  background-image: url("https://assets.juksy.com/files/articles/81577/1920x640_100_r-5b7bab7549e56.png");
/*   object-fit: fill;
  margin: auto; */
  background-size: cover;
  background-repeat: no-repeat;
/*   background-position: right top; */
/*   background-position: fill; */
/*   background-size: fill-box;  */
}

#card4:hover{
   background-image: url("https://cdn.shopify.com/s/files/1/0556/1841/articles/Screenshot_2022-10-21_at_14.27.25_1024x.png?v=1666362380");
/*   object-fit: fill;
  margin: auto; */
  background-size: cover;
  background-repeat: no-repeat;();
  background-position: center;
}

.card h3,
.card h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.card h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card:hover img,
.card.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0;
}

.card:hover:before,
.card.hover:before,
.card:hover:after,
.card.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.card:hover:before,
.card.hover:before {
  width: 40px;
}

.card:hover:after,
.card.hover:after {
  height: 40px;
}

.card:hover h3,
.card.hover h3,
.card:hover h4,
.card.hover h4 {
  opacity: 3;
}

.card:hover h3,
.card.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.card:hover h4,
.card.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}



 .title{
   display: hidden;
 }

  img {
  width: 400px;
  height: 300px;
  object-fit: fill;
  margin: auto;
 }

  .title{
    font-size: 20px;
    text-align: center;
  }

.social-icons {
  text-align:right ;
  margin: 10px;
  color: white;
  transition: color 0.3s ease;

}

.social-icons a:hover i{
  color: black;
  
  .social-icons2 {
  text-align:right ;
  margin: 10px;
  color: black;
  transition: color 0.3s ease;

}

.social-icons2 a:hover i{
  color: white;
    
}
  #searchbar{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navButtons{
    font-family: Arial, Helvetica, san-serif;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  a{
    text-decoration: none;
  }

.animated-text {
  animation: fade-in 2s forwards;
  opacity: 0;
  color:black;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-text {
  animation-fill-mode:both;
}