html {
  height: 100%;
  width: 100%;
}

 *{
    box-sizing: border-box;
  }

  @media screen and (max-width: 980px) {
    header, footer{
      grid-column: span 1;
    }     

    body{
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: auto;
    }

    .card{
      grid-column: span 2;
    }
  }

  body{
    display: fill;
/*     background-color: #FFFFFF; */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    height: 100%
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, black, grey, black, grey)
/*       background-image: url("https://img.freepik.com/premium-vector/dark-abstract-background-with-lines_79145-403.jpg");
/*     background-size: fill; */
/*    background-repeat: no-repeat; */
/*   background-position: center; */
/*      background-color: #303030; */
  }
  
  nav{
    margin:auto;
    text-align: center;
    grid-column: span 2;
  }

  #homepage{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1.5s;
  }

#homepage:hover {
  color: #161516;
  text-shadow:0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4
}

  .navButtons{
    text-decoration: none;
  }

  header, footer{
    margin: 0%;
    grid-template-columns: 1fr 1fr 1fr;
/*     background-image: url("https://img.freepik.com/premium-vector/dark-abstract-background-with-lines_79145-403.jpg"); */
    background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  }

.header-heading{
  display: flex;
  justify-content : space-between;
}
footer {
/*   background-color: #ccc; */
  padding: 20px;
  color: white;
}

.footer-heading {
  display: flex;
  justify-content: space-between;
}

.left-heading {
  margin-right: 20px;
}

.right-heading {
  margin-left: 20px;
}

.footer-section {
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.left-paragraph {
  margin-right: 20px;
}

.right-paragraph {
  margin-left: 20px;
  
}
  button{
    border-radius: 4px;
    margin:auto;
  }

  main{
    margin: 30px 20px;
    grid-template-rows: 1fr 5fr;
    background-image: url("https://wallpaper.dog/large/5486500.png");
    border-radius: 12px;
  }

  .brand-page{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    text-decoration: none;
    align-content: center;
    justify-content: center;
  }

  .brand-category{
    font-size: 22px;
    font-weight: 200px;
  }

  .brand-twitter{
    margin: 30px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("https://wallpaper.dog/large/5486500.png");
    border-radius: 12px;
    width: 30%;
  }

  li{
    font-size: 18px;
    list-style: none;
  }

  #cards{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  

  aside{
    overflow-y: scroll;
    background-color: lightgrey;
  }

  #siteInfo{
    font-size: 1.2rem;
    text-align: center;
    color:black;
  }

/*   .card { 
  margin-right: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  align-content: center;
  }

  .card:hover{
    background-color: none;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
  } */

  .title{
    visibility: hidden;
    font-size: 20px;
    text-align: center;
  }

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);

.card {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 10px;
  margin-right: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  align-content: center;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.card *,
.card:before,
.card:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card:before,
.card:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
}

.card:before {
  width: 0;
  height: 1px;
}

.card:after {
  height: 0;
  width: 1px;
}

.card figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

#card1:hover{
  background-image: url("https://footwearnews.com/wp-content/uploads/2016/10/lionel-messi-adidas.jpg?w=700&h=437&crop=1&resize=700%2C437");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 27%;
}

#card2:hover{
  background-image: url("https://i.pinimg.com/564x/23/13/97/2313975b221fb25e5174ec6e601a9476.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  background-position: 100% 30%;

}

#card3:hover{
  background-image: url("https://assets.juksy.com/files/articles/81577/1920x640_100_r-5b7bab7549e56.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#card4:hover{
   background-image: url("https://cdn.shopify.com/s/files/1/0556/1841/articles/Screenshot_2022-10-21_at_14.27.25_1024x.png?v=1666362380");
/*   object-fit: fill;
  margin: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card:hover img,
.card.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0;
}

.card:hover:before,
.card.hover:before,
.card:hover:after,
.card.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.card:hover:before,
.card.hover:before {
  width: 40px;
}

.card:hover:after,
.card.hover:after {
  height: 40px;
}

  img {
  width: 400px;
  height: 300px;
  object-fit: fill;
  margin: auto;
  display: flex;
 }

#searchbar{
  text-align: left;
  margin: 20px 40px;
  padding: 15px;
  border-radius: 5px;
}

input[type=text]{
  transition: width 0.15s ease-in-out;
}

.social-icons {
  text-align:right ;
  margin: 10px;
  color: white;
  transition: color 0.3s ease;

}

.social-icons a:hover i{
  color: black;
  
}
  .search-bar button{
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navButtons{
    font-family: Arial, Helvetica, san-serif;
  }
  
  .center {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  
  }

  a{
    text-decoration: none;
  }

.animated-text {
  animation: fade-in 2s forwards;
  opacity: 0;
  color:black;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-text {
  animation-fill-mode:both;
}

.text{
  color:white;
}

body {
  background-color: #111;
}

/*   Search list start */
 #list{
   border: 1px solid lightgrey;
   border-radius: 5px;
  display: none;
 }

  .listItem{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
  }

  .listItem:hover{
    background-color: lightgrey;
  }
/*   Search list end */

.h1{
  font-style: italic;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
h4{
  font-size:26px
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Poppins", sans-serif;
}
